.btn-group-container{
	margin: 0;
	width: 99%;
	margin-left: 8px;
	margin-bottom: 0;
	padding: 0;
}

.btn-group-vertical{
	width: 350px;
	display: block;
	position: relative;
	float: left;
	display: inline-block;
}

.btn-group-horizontal{
	margin-top: 10px;
	display: inline-block;
	margin-left: -130px;

}

.btn-sm{
	margin-left: 6px !important;
	padding: 4px;
	padding-left: 10px !important;
	padding-right: 13px !important;
}

.th-producto, .td-producto{
	
}

.th-cantidad, .td-cantidad{
	
}


.th-precio, .td-precio{
	
}

.th-producto, .td-producto{
	
}

.th-cantidad, .td-cantidad{
	
}


.th-precio, .td-precio{
	
}




#btn-cliente{
	width: 60%;
	margin-left: 0;
	font-family: 'Roboto';
}


#monto{
	width: 100%;
}

#btn-pay{
	width: 60%;
	height: 112px;
	font-family: 'Roboto';
	padding-top: 40px;
}

.btn-num{
	margin:0;
	padding: 5px;
	width: 52px;
	font-size: 18px;
}

.btn-order{
	margin-bottom: 0;
	margin-left: 7px;
	margin-right: 0px;
	width: 93.5%;
}

#btn-num{
	width: 15%;
}

.footer{
	margin-top: 10px;
	margin-left: 7px;
}