*{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		table tbody{
			height: 100%;
		}


		.group-add{
			display: block;
			clear: both;
			position: absolute;
			bottom: 0px;
			height: 330px;
		}
		.Order_box{
			background: #FFF !important;
			height: calc(98% - 330px);
			width: 99%;
			border-bottom: 3px solid #158CBA;
			border-top-right-radius: 10px;
			margin-bottom: 7px;
		}
		.fa-file{
			color: #FFF;
		}

		.Order_table{     
			font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;   
			margin: 10px;     
			width: 95%; 
			text-align: left;    
			border-collapse: collapse; 
			height: calc(100% - 90px);
		}
		.Order_table2{     
			font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;   
			margin: 10px;     
			width: 95%; 
			text-align: left;    
			border-collapse: collapse; 
			height: calc(100% - 700px);
		}
		caption{
			font-size: 18px; 
		}



		th {     
			font-size: 18px;     
			font-weight: bold;     
			padding: 8px;     
			color: #000; 
		}

		td {
			font-size: 14px;    
			padding: 7px;  
			border-top: 1px 
			solid transparent;

		}

		.monto_a_pagar{
			margin-left: .5em;
		}

		.fa-cart-plus, fa-plus-square{
			color: #669;
		}

		.input-group{
			margin-top: .5em;
			margin-left: .3em;
			width: 95%;
		}

		.input-group-addon{
			padding: 4px !important;
		}


		.Order_title{
			font-family: 'Roboto';
			text-align: center;
			color: #FFF;
		}

		.fa-plus-square{
			cursor: pointer; 
		}

		.fa-money{
			color: #FFF;
		}

		.Total_label{
			font-size: 18px;
			position: absolute;
			margin-left: 13.5em;
		}



		#wrapper {
			position: absolute;
			left: 0;
			top: -150px;
			padding: 200px !important;
			height: calc(100% - 50px);
			width: 0;
			box-sizing: border-box;
		}

		.footer{
			margin-top: 35px;
		}
		thead, tbody { display: block; }
		tbody {
			height: 175px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		#sidebar-wrapper {
			z-index: 1000;
			position: absolute; 
			left: 250px;
			width: 100%;
			height: 100%;
			margin-left: -250px;
			background: #F1F1F1;
			clear: both;
		}



		/* Sidebar Styles */

		.sidebar-nav > .sidebar-brand {
			height: 65px;
			font-size: 18px;
			line-height: 60px;
		}

		.sidebar-nav > .sidebar-brand a {
			color: #999999;
		}

		.sidebar-nav > .sidebar-brand a:hover {
			color: #fff;
			background: none;
		}
		.no-margin{
			margin:0;
		}



		@media(min-width:768px) {
			#wrapper {
				padding-left: 250px;
			}
			.fixed-brand{
				width: 250px;
			}
			


			#page-content-wrapper {
				padding: 20px;
				position: relative;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}

			#wrapper.toggled #page-content-wrapper {
				position: relative;
				margin-right: 0;
				padding-left: 250px;
			}
			#wrapper.toggled-2 #page-content-wrapper {
				position: relative;
				margin-right: 0;
				margin-left: -200px;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				width: auto;

			}
		}
			


